.body
  .header
    〜ヒット
    =@battles.count
    〜
  .main
    .left-bar
      .player-zone
        .player-zone__name
        user.name
        .player-zone__hp
        =Date.today
        .player-zone__battle-select
          .form
            =form_with model: @battle, local: true do |form|
              =form.text_field :text, placeholder: "問題（最大18字）", class: "question-message"
              =form.text_field :answer, placeholder: "答え（最大18字）", class: "answer-message"
              =form.submit type:"submit", value:"作成", class: "attack"
              //=form.submit type:"submit", value:"必殺技", class: "supercial"
              //=form.submit type:"submit", value:"防御", class: "defence"
    .right-bar
      .monster-zone
        .form_search
          =form_with url: search_battles_path, local: true, method: :get, class: "search-form" do |form|
            =form.text_field :keyword, placeholder: "問題を検索", class: "search"
            =form.submit type:"submit", value:"検索", class: "search-btn"
        
        
    .battles
      .battle-field
        .messages
          = render @battles
      .footer
        ©2019 Tetsuya Omoto