.messages{
  height: calc(100vh - 150px);
  overflow: scroll;
  padding: 46px 40px;
  overflow: scroll;
  .battle-message{
    background-color: white;
    background-size: cover;
    background-position:center; 
    background-repeat:  no-repeat;
    font-family:"HiraMinPro-W6";
    border-radius:5px; 
    margin: 15px 0;
    height: 140px;
    border: 1px solid #DDDDDD;
    
    .message-text{
      //padding: 10px,0;
      text-align: center;
      font-weight: bolder;
      //line-height: 140px;
      font-size: 30px;
      cursor: pointer;
    }
    .message-delete{
      z-index: 3;
      position: relative;
      left:740px;
      color:#AAAAAA;
      cursor: pointer;
    }
    .message-answer{
      opacity: 0;
      cursor: pointer;
      //.open-answer{

        text-align: center;
        font-weight: bolder;
        font-size: 30px;
      //}
    }
  }
}