.body{
  font-family: 'HiraMinPro-W6';
  overflow:hidden;
  box-sizing: border-box;
  .header{
    position: relative;
    height: 90px;
    line-height: 90px;
    background-color: #336699;
    background-size: cover;
    background-position:center top 5%; 
    background-repeat:  no-repeat;
    color: white;
    text-align: center;
    font-size: 50px;
    
    
  }



  

  .left-bar{
    width: 300px;
    float: left;
    color: white;
    height: calc(100vh - 150px);
    background-color: #666666;
    background-position: center bottom 10%;
    background-size: cover;
    z-index: 1;
    
    .player-zone{
      
      height: 100%;
      align-items: center;
      padding: 10px 10px;
      font-size: 30px;
      .clock{
        height:80px;
      }
      &__battle-select{
        .form{
          input.question-message, .answer-message{
            border-radius:5px;
          height:40px;
          width:260px;
          text-align: center;
          font-size: 20px;
          background-color: white;
          background-size: cover;
          background-position:center; 
          background-repeat:  no-repeat; 
          font-family:"HanziPen SC";
          cursor: text;
          }
        }
          input{
            border-radius:10px;
            background-position:center; 
            background-repeat:  no-repeat; 
            display: flex;
            flex-direction: column;
            margin:10px 10px;
            height:45px;
            width: 95px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #336699;
            color: white;
            font-size:20px;
          }
          input.question-message, .answer-message{
            color: black;
          }
      }
       
    }
  }
  .right-bar{
    width: 300px;
    float: right;
    color: white;
    height: calc(100vh - 150px);
    background-color: #666666;
    background-position: center bottom 10%;
    background-size: cover;
    z-index: 1;
    .monster-zone{
      height: 100%;
      align-items: center;
      padding: 10px 10px;
      font-size: 30px;
      .watch{
        
        .clock{
        
        height:70px;
        }
      }
      .form_search{
        input.search{
          border-radius:5px;
        height:40px;
        width:260px;
        text-align: center;
        font-size: 20px;
        background-color: white;
        background-size: cover;
        background-position:center; 
        background-repeat:  no-repeat; 
        font-family:"HanziPen SC";
        cursor: text;
        }
      }
      input{
        background-color: #336699;
        color:white;
        font-size:20px;
        border-radius:10px;
        background-position:center; 
        background-repeat:  no-repeat; 
        display: flex;
        flex-direction: column;
        margin:10px 10px;
        height:45px;
        width: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      input.search{
        color: black;
      }
    }
  }
  
  .battles{
    height: calc(100vh - 90px);
    .battle-field{
      background-image: url("note.png");
      height: calc(100vh - 150px);
      overflow: scroll;
      width:auto;
      background-size: cover;
      background-position: center;
    }
    .footer{
      color: white;
      position: absolute;/*←絶対位置*/
      bottom: 0; /*下に固定*/
      height: 60px;
      width: 100%;
      z-index: 2;
      background-color:#336699;
      background-size: cover;
      background-position:center bottom 5%; 
      background-repeat:  no-repeat;
      text-align: center;
      line-height: 60px;
    }
  }
 
}
